@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

html, body {
    background-color: #F1F1F1;
    color: #1F2937;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
}

.gridpattern {
	background-image: linear-gradient(#F1F1F1 1px, transparent 1px), linear-gradient(to right, #F1F1F1 1px, transparent 1px);
	background-size: 20px 20px;
	background-color: #FFFFFF;
}

.highlight {
    @apply inline-block pr-1 text-transparent bg-clip-text bg-linear-to-r from-pink-500 via-purple-500 to-orange-500;
}

@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-marquee {
    display: inline-flex;
    animation: marquee 30s linear infinite;
}
