---
import Main from "@/layouts/Main.astro"
import Hero from "@/components/Hero.astro"
import Attending from "@/components/Attending.astro"
import Organisers from "@/components/Organisers.astro"
import Checklist from "@/components/Checklist.astro"
import Schedule from "@/components/Schedule.astro"
import Tickets from "@/components/Tickets.astro"
import Testimonials from "@/components/Testimonials.astro"
import FAQ from "@/components/FAQ.astro"
---

<Main title="Tech Industry Night 2026" description="Join us for Tech Industry Night 2026, an evening of networking and innovation.">

    <Hero />
    <!-- <Marquee /> -->
    <Attending />
    <Organisers />
    <Checklist />
    <Schedule />
    <Testimonials />
    <FAQ />
    <Tickets />
</Main>
