---
import Wrapper from "./Wrapper.astro"
---

<div id="timebox" class="flex flex-row justify-center my-8">
    <div class="flex gap-x-8 sm:gap-x-16 font-bold text-5xl bg-linear-to-r from-pink-500 via-purple-500 to-orange-500 bg-clip-text text-transparent">
        <div class="flex flex-col items-center">
            <span id="days">00</span>
            <p class="text-lg font-semibold text-gray-800 uppercase tracking-widest">Days</p>
        </div>

        <div class="flex flex-col items-center">
            <span id="hours">00</span>
            <p class="text-lg font-semibold text-gray-800 uppercase tracking-widest">Hours</p>
        </div>

        <div class="flex flex-col items-center">
            <span id="minutes">00</span>
            <p class="text-lg font-semibold text-gray-800 uppercase tracking-widest">Mins</p>
        </div>

        <div class="flex flex-col items-center">
            <span id="seconds">00</span>
            <p class="text-lg font-semibold text-gray-800 uppercase tracking-widest">Secs</p>
        </div>
    </div>
</div>

<script>
    const Days = document.getElementById("days")
    const Hours = document.getElementById("hours")
    const Minutes = document.getElementById("minutes")
    const Seconds = document.getElementById("seconds")

    const time = new Date("August 14 2026 15:00:00").getTime()

    function timer() {
        const now = new Date().getTime()
        const difference = time - now

        const d = Math.floor(difference / (1000 * 60 * 60 * 24))
        const h = Math.floor((difference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))
        const m = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60))
        const s = Math.floor((difference % (1000 * 60)) / 1000)

        Days.innerHTML = d < 10 ? "0" + d : d
        Hours.innerHTML = h < 10 ? "0" + h : h
        Minutes.innerHTML = m < 10 ? "0" + m : m
        Seconds.innerHTML = s < 10 ? "0" + s : s
    }

    setInterval(timer, 1000)
</script>
