---
import { Icon } from "astro-icon/components"

const socials = [
    {
        name: "Instagram",
        icon: "brand-instagram",
        href: "https://www.instagram.com/techindustrynight/",
    },
    {
        name: "LinkedIn",
        icon: "brand-linkedin",
        href: "https://www.linkedin.com/company/techindustrynight/",
    },
    {
        name: "TikTok",
        icon: "brand-tiktok",
        href: "https://www.tiktok.com/@techindustrynight",
    }
]
---

<div class="w-full p-12 border-t border-gray-200">
    <div class="mx-auto flex flex-col md:flex-row justify-between items-center gap-8">
        <div>
            <h4 class="font-extrabold text-2xl mb-2 uppercase">
                Tech Industry Night <span class="highlight">2026</span>
            </h4>
            <p class="text-sm">Powered by the STEM clubs of QUT.</p>
        </div>
        <div class="flex gap-8 text-sm font-semibold">
            <!-- <a href="#" class="hover:text-pink-500 transition-colors">Contact</a>
            <a href="#" class="hover:text-pink-500 transition-colors">Sponsorships</a> -->
        </div>
        <div class="flex gap-4">
            {
                socials.sort((a, b) => a.name.localeCompare(b.name)).map(social => (
                    <a href={ social.href } class="text-2xl size-5 rounded-full bg-gray-100 flex items-center justify-center hover:text-pink-500 transition-all">
                        <span class="sr-only">{ social.name }</span>
                        <div class="">
                            <Icon name={`tabler:${ social.icon }`} />
                        </div>
                    </a>
                ))
            }
        </div>
    </div>

    <div class="text-center mt-12 text-xs text-gray-800/50">
        &copy; { new Date().getFullYear() } Tech Industry Night. All rights reserved.
    </div>
</div>
