---
import Button from "./Button.astro"

const SCROLLING_TEXT = [
    "Early Bird Tickets Now Available! Get yours for just $10.",
    "Join us for an unforgettable night of networking and innovation.",
    "Connect with industry leaders, founders, and fellow students.",
    "Don't miss out on the tech event of the year!"
]
---

<nav class={`fixed w-full z-50 transition-all duration-300 bg-white shadow-md`}>
	<div class="px-6 py-3 flex justify-between items-center">
		<a href="#" class="flex items-center space-x-2">
			<img src="/logo.svg" alt="QUT Tech Industry Night Logo" class="size-12" />
			<span class="font-extrabold text-xl tracking-tighter">
				Tech Industry Night <span class="highlight">2026</span>
			</span>
		</a>

		<div class="hidden md:flex space-x-8">
            <a href="#schedule" class="text-sm font-semibold hover:text-pink-500 transition-colors duration-200">Schedule</a>
            <a href="#faq" class="text-sm font-semibold hover:text-pink-500 transition-colors duration-200">FAQ</a>
            <a href="#tickets" class="text-sm font-semibold hover:text-pink-500 transition-colors duration-200">Ticketing</a>
		</div>

		<div class="hidden md:block">
            <Button link="https://forms.gle/oSzyqxXqyy7uH64t5" theme="pink" size="sm" variant="filled" rounding="pill">
                Get Tickets
            </Button>
        </div>
	</div>

    <!-- <div class="bg-red-500 text-white whitespace-nowrap animate-marquee py-2">
        {
            [...SCROLLING_TEXT, ...SCROLLING_TEXT].map(text => (
                <p class="text-center text-sm border-x border-white px-6">
                    { text }
                </p>
            ))
        }

    </div> -->
</nav>
