---
import { Icon } from "astro-icon/components"
import Wrapper from "./Wrapper.astro"

const organisers = [
    {
        name: "Code Network",
        logo: "cn.png",
        colors: {
            bg: "bg-green-500",
            border: "border-b-green-500",
            hover: "hover:bg-green-500"
        },
        instagram: "https://www.instagram.com/codenetwork_/",
        linkedin: "https://www.linkedin.com/company/codenetwork/"
    },
    {
        name: "Women In Tech",
        logo: "wit.png",
        colors: {
            bg: "bg-red-500",
            border: "border-b-red-500",
            hover: "hover:bg-red-500"
        },
        instagram: "https://www.instagram.com/womenintech_qut/",
        linkedin: "https://www.linkedin.com/company/women-in-technology-at-qut/"
    },
    {
        name: "QUT Aerospace Society",
        logo: "aero.png",
        colors: {
            bg: "bg-orange-500",
            border: "border-b-orange-500",
            hover: "hover:bg-orange-500"
        },
        instagram: "https://www.instagram.com/qut_aerospace_society/",
        linkedin: "https://www.linkedin.com/company/qut-aerospace-society/"
    },
    {
        name: "QUT Electrical Engineering Student Society",
        logo: "eess.png",
        colors: {
            bg: "bg-yellow-500",
            border: "border-b-yellow-500",
            hover: "hover:bg-yellow-500"
        },
        instagram: "https://www.instagram.com/qut_eess/",
        linkedin: "https://www.linkedin.com/company/quteess/"
    },
    {
        name: "QUT AI & ML Society",
        logo: "aiml.png",
        colors: {
            bg: "bg-pink-500",
            border: "border-b-pink-500",
            hover: "hover:bg-pink-500"
        },
        instagram: "https://www.instagram.com/qut_aiml/",
        linkedin: "https://www.linkedin.com/company/qut-aiml/"
    },
    {
        name: "QUT Cyber Security Club",
        logo: "csc.png",
        colors: {
            bg: "bg-purple-500",
            border: "border-b-purple-500",
            hover: "hover:bg-purple-500"
        },
        instagram: "https://www.instagram.com/qut_cybersec/",
        linkedin: "https://www.linkedin.com/company/qut-white-hats/"
    },
    {
        name: "QUT Game Development Club",
        logo: "gdc.png",
        colors: {
            bg: "bg-lime-700",
            border: "border-b-lime-700",
            hover: "hover:bg-lime-700"
        },
        instagram: "https://www.instagram.com/gdcqut/",
        linkedin: "https://www.linkedin.com/company/qut-game-development-club/"
    },
    {
        name: "QUT Reality Labs",
        logo: "rl.png",
        colors: {
            bg: "bg-indigo-500",
            border: "border-b-indigo-500",
            hover: "hover:bg-indigo-500"
        },
        instagram: "https://www.instagram.com/qutrealitylabs_/",
        linkedin: "https://www.linkedin.com/company/qut-reality-labs/"
    },
    {
        name: "QUT Law, Innovation & Technology Society",
        logo: "lits.png",
        colors: {
            bg: "bg-indigo-500",
            border: "border-b-indigo-500",
            hover: "hover:bg-indigo-500"
        },
        instagram: "https://www.instagram.com/qutlitsociety/",
        linkedin: "https://www.linkedin.com/company/law-innovation-and-technology-society/"
    },
    {
        name: "Business Analytics and Data Science Club",
        logo: "bands.png",
        colors: {
            bg: "bg-black",
            border: "border-b-black",
            hover: "hover:bg-black"
        },
        instagram: "https://www.instagram.com/qutbands/",
        linkedin: "https://www.linkedin.com/company/qutbands/"
    }
]
---

<Wrapper id="organisers">
    <div class="flex flex-col items-center mx-auto text-center">
        <span class="text-orange-500 font-bold tracking-widest uppercase text-sm mb-4 block">Powering the Event</span>
        <h2 class="font-black text-5xl sm:text-6xl">Meet the Organisers</h2>
        <p class="text-sm sm:text-lg max-w-2xl mx-auto my-4">
            This event is curated for students, by students. Connect with the clubs that make it happen.
        </p>
    </div>

    <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto">
        {
            organisers.sort((a, b) => a.name.localeCompare(b.name)).map((org, idx, arr) => {

                const isLastAlone = arr.length % 3 === 1 && idx === arr.length - 1
                return (
                    <div class={ `${ isLastAlone ? "sm:col-start-2" : "" } w-full max-w-sm p-8 rounded-4xl flex flex-col items-center text-center group transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl border-b-4 ${ org.colors.border } bg-white` }>
                        <img src={ `/logos/${ org.logo }` } alt={`${ org.name } logo`} class="h-20 object-contain" />

                        <h3 class="font-extrabold text-lg my-4 leading-tight">
                            { org.name }
                        </h3>

                        <div class="flex gap-3 mt-auto">
                            <a href={ org.linkedin } class={ `size-10 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white ${ org.colors.hover } transition-all hover:scale-110` }>
                                <span class="sr-only">LinkedIn</span>
                                <span class="text-2xl font-black uppercase tracking-tighter">
                                    <Icon name="tabler:brand-linkedin" />
                                </span>
                            </a>

                            <a href={ org.instagram } class={ `size-10 rounded-full flex items-center justify-center bg-neutral-100 hover:text-white ${ org.colors.hover } transition-all hover:scale-110` }>
                                <span class="sr-only">Instagram</span>
                                <span class="text-2xl font-black uppercase tracking-tighter">
                                    <Icon name="tabler:brand-instagram" />
                                </span>
                            </a>
                        </div>
                    </div>
                )
            })
        }
    </div>
</Wrapper>
