---
import { Icon } from "astro-icon/components"
import SectionTitle from "./SectionTitle.astro"
import Wrapper from "./Wrapper.astro"
---

<Wrapper id="testimonials">
    <SectionTitle title="What Our Community Says" subtitle="Testimonials" description="Real stories from the attendees who made last year's event unforgettable." />

    <div class="grid md:grid-cols-3 gap-8 my-8">
        <div class="p-10 rounded-4xl relative group transition-all duration-500 hover:-translate-y-4 shadow-2xl border-t-4 border-t-pink-500">
            <div class="absolute -top-6 left-10 w-12 h-12 rounded-2xl flex items-center justify-center text-white shadow-lg bg-pink-500">
                <span class="text-3xl flex flex-col items-center justify-center"><Icon name="tabler:quote-filled" /></span>
            </div>

            <div class="mt-4 mb-10 italic text-xl leading-relaxed font-medium">
                "Tech industry night allowed me to form valuable connections with industry, expanding my professional network and setting me up for success."
            </div>

            <div class="font-extrabold">William Qu</div>
            <div class="text-sm text-gray-500 font-semibold">Computer Science Student</div>
        </div>

        <div class="p-10 rounded-4xl relative group transition-all duration-500 hover:-translate-y-4 shadow-2xl border-t-4 border-t-purple-500">
            <div class="absolute -top-6 left-10 w-12 h-12 rounded-2xl flex items-center justify-center text-white shadow-lg bg-purple-500">
                <span class="text-3xl flex flex-col items-center justify-center"><Icon name="tabler:quote-filled" /></span>
            </div>

            <div class="mt-4 mb-10 italic text-xl leading-relaxed font-medium">
                "Tech Industry Night is your one-stop shop to find your future in IT. I loved it last year and will be going again - cannot recommend this event enough!!"
            </div>

            <div class="font-extrabold">Vinesh Nangia</div>
            <div class="text-sm text-gray-500 font-semibold">Law & Computer Science Student</div>
        </div>

        <div class="p-10 rounded-4xl relative group transition-all duration-500 hover:-translate-y-4 shadow-2xl border-t-4 border-t-orange-500">
            <div class="absolute -top-6 left-10 w-12 h-12 rounded-2xl flex items-center justify-center text-white shadow-lg bg-orange-500">
                <span class="text-3xl flex flex-col items-center justify-center"><Icon name="tabler:quote-filled" /></span>
            </div>

            <div class="mt-4 mb-10 italic text-xl leading-relaxed font-medium">
                "The variety of companies present meant that  there was something for everyone, and I had the opportunity to network with many industry professionals."
            </div>

            <div class="font-extrabold">Angus Wong</div>
            <div class="text-sm text-gray-500 font-semibold">IT Master's Student</div>
        </div>
    </div>
</Wrapper>
